.main-container {
  background: beige;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

h1 {
  color: red;
  font-size: 72px;
  text-shadow: 1px 1px 10px #999;
  padding: 30px;
}

.form-container {
  background: #fff;
  min-height: 500px;
  width: 500px;
  box-shadow: 1px 1px 10px #999;
  border-radius: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
}

.form-container > div {
  width: 100%;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.query-input {
  font-size: 24px;
  padding: 10px;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 10px #999;
  border-radius: 10px;
}

.questions-input {
  width: 100%;
}

.difficulty-input {
  font-size: 24px;
  padding: 10px;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 10px #999;
  border-radius: 10px;
}

.submit-button {
  font-size: 20px;
  padding: 14px;
  width: 100%;

  background: linear-gradient(to right, rgb(242, 199, 9), rgb(236, 106, 26));

  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background: linear-gradient(to left, rgb(242, 199, 9), rgb(236, 106, 26));
}
