:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}


html, body {
  width: 100%;
  min-height: 100vh;
overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


